- render 'default' do
  %article
    %header
      %h1 #{item[:title]}
      -# %p
        Published
        %time{:pubdate => true, :datetime => get_pub_datetime(item)}
          = get_pretty_date(item)
    %section
      = find_and_preserve(yield)
    - if has_tests(item)
      %section
        %header
          %h1 Testing
          %p 
            Feature repo path: 
            %code
              = feature_repo(item)
          - if item[:compile_to]
            %p
              Expecting a binary named 
              %code #{item[:compile_to]}
          %p
            The following features will be tested using cucumber:
          - features(item).each do |feature|
            %pre
              %code
                = Pygments.highlight(feature, :lexer => 'gherkin')
  %footer
